:root {
  --mobile-screen-px: 576px;
  --tablet-screen-px: 768px;
  --desktop-screen-px: 992px;
  --lg-desktop-screen-px: 1200px;
}

body {
  background-color: linen;
  font: 16px Average, Georgia, serif;
}

a:link,
a:visited {
  text-decoration: none;
}

/* utils */
.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 300px;
  height: 300px;
}

.btn {
  background-color: rgb(140, 140, 153);
  border: 1px inset black;
}

/* Start Commons --project and education */
.project_section,
.education_section {
  width: 80%;
  min-height: 400px;
  margin: 20px auto;
}

.project_section > h2:first-child,
.education_section > h2:first-child {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}

.project_card,
.education_card {
  width: 320px;
  height: 400px;
  padding: 10px 20px;
  line-height: 20px;
  text-align: justify;
  transition: all 0.3s;
}

.project_card:hover,
.education_card:hover {
  transform: scale(1.1);
}

.projects,
.educations {
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.project_card .title,
.education_card .title,
.project_card .techs,
.education_card .year {
  margin: 10px 0;
  text-align: center;
  font-size: 18px;
}

.project_card .title,
.education_card .title {
  font-weight: 300;
  color: black;
  opacity: 0.7;
  padding-bottom: 10px;
  box-shadow: 0 8px 6px -6px black;
}

.project_card .techs,
.education_card .year {
  margin: 20px 0;
  opacity: 0.5;
}

.btn_project_github,
.btn_education_certificate {
  background-color: hotpink;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}

.btn_project_github a,
.btn_education_certificate a {
  display: block;
  padding: 10px;
  color: #ffffff;
}

.btn_education_certificate a {
  width: 100%;
}

.project_card .title,
.education_card .title {
  height: 10%;
}

.project_card .description,
.education_card .description {
  height: 50%;
}
/* End of common */

/* Header */
header {
  position: sticky;
  top: 0px;
  z-index: 1;
}

header nav {
  position: absolute;
  top: 40px;
  right: 20px;
  z-index: 1;
}

header nav ul {
  display: flex;
  gap: 30px;
}
header nav .toggle_menu,
header nav ul li div hr {
  visibility: hidden;
}

header nav ul li a:link {
  color: rgb(116, 112, 112);
  font-size: 1rem;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a:visited {
  color: rgb(116, 112, 112);
}

header nav ul li a:active {
  text-decoration: underline;
}

header nav ul li {
  color: rgb(73, 69, 69);
  list-style-type: none;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
}

.custom-shape-divider-top-1662469831 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1662469831 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 128px;
}

.custom-shape-divider-top-1662469831 .shape-fill {
  fill: #ffffff;
}

/* Home */
.home {
  position: relative;
  background: rgb(73, 74, 119);
  background: linear-gradient(
    90deg,
    rgba(73, 74, 119, 1) 0%,
    rgba(70, 49, 68, 0.8253676470588236) 100%
  );
  width: 90%;
  height: 400px;
  margin: 0px auto;
}

.home .showcase {
  background-color: rgba(119, 119, 119, 0.678);
  height: 250px;
  position: absolute;
  left: auto;
  bottom: 0px;
  color: #ffffff;
  width: 100%;
}
.showcase .personal_description {
  position: relative;
  padding: 20px;
  margin: 15px;
}
.showcase .personal_description p {
  width: 500px;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 25px;
}

.showcase .personal_description a.btn_resume {
  margin-top: 20px;
}

.btn_resume {
  display: inline-block;
  background-color: linen;
  padding: 10px;
  border-radius: 5px;
}

.btn_resume:hover {
  transform: scale(0.98);
  border: none;
}

.github_img_link {
  position: absolute;
  right: 50px;
  top: -40px;
}

.github_img_link img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 8px 6px -6px black;
}

/* Project */

/* About me */
.about_me {
  background: rgb(73, 74, 119);
  background: linear-gradient(
    90deg,
    rgba(73, 74, 119, 1) 0%,
    rgba(70, 49, 68, 0.8253676470588236) 100%
  );
  width: 90%;
  min-height: 400px;
  margin: 0px auto;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 20px;
}

.about_me > h2:first-child {
  margin: 30px;
  font-size: 25px;
  text-decoration: underline;
}

.about_me .description > p {
  line-height: 22px;
  margin: 10px auto;
}

.about_me .description p {
  margin: 30px;
  text-align: justify;
}

.about_me .description p:hover {
  background-color: rgb(128, 128, 128);
  box-shadow: 0 8px 6px -6px black;
}

.about_me .description p::first-letter {
  font-size: 25px;
}

.about_me .description p:nth-child(2n) {
  margin-left: 100px;
}

/* Education */
.education_card {
  height: 300px;
}

.education_card .title {
  height: 15%;
}

.education_card .description {
  height: 30%;
}

/* Footer */
footer {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(49, 41, 41);
  color: #ffffff;
  overflow: hidden;
}

footer .title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

footer > div:first-child {
  width: 100%;
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

footer > div:first-child > div ul {
  list-style-position: inside;
  list-style: inside url("../../images/check.png");
  line-height: 30px;
}

footer .copy {
  margin: 20px 0;
  transform: translateX(-40%);
}

.mobile_number {
  background-color: #ffffff;
  padding: 3px;
}

.mobile_number:hover {
  background-color: rgb(49, 41, 41);
}

/* Media queries */
/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  /* Header --mobile-media-query*/
  .custom-shape-divider-top-1662469831 {
    display: none;
  }
  header {
    width: 90%;
    margin: 10px auto;
    min-height: 80px;
    background-color: black;
    position: sticky;
    top: 0px;
    transition: all 1s ease;
  }

  header nav {
    position: static;
    padding: 10px;
    transition: all 2s;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px;
  }

  header nav ul li:first-child {
    margin-bottom: 40px;
  }

  header nav ul li div a {
    color: #ffffff;
  }

  header nav ul li a:link {
    font-size: 1rem;
  }

  header nav .toggle_menu,
  header nav ul li div hr {
    visibility: visible;
  }

  header nav .toggle_menu {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .hide_menu_items {
    display: none;
  }

  header nav ul li a:link {
    color: white;
  }

  header nav ul li a:visited {
    color: white;
  }

  /* Home --mobile-media-query*/
  .home {
    height: 370px;
  }

  .home .showcase {
    height: 300px;
  }

  .showcase .personal_description p {
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .btn_resume {
    display: block;
    text-align: center;
  }

  .github_img_link {
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
  }

  /* Start Commons --project and education --mobile-query */
  .project_section,
  .education_section {
    width: 100%;
  }

  .project_section > h2:first-child,
  .education_section > h2:first-child {
    text-align: center;
  }

  .projects,
  .educations {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* End of common mobile-query*/

  /* Footer mobile-query */
  footer > div:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .copy {
    margin-top: 50px;
    transform: none;
  }
}
